* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  z-index: 30;
  text-align: right;
  padding: 40px 20px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: ivory;
  border-radius: 50%;
  color: black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}

nav ul li a:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
}

.box{
  position: relative;
  height: 100vh;
}

.red{
  background-color: red;
}

.green{
  background-color: seagreen;
}

.yellow{
  background-color: yellow;
}

.shoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes img{
  width: 100%;
}


h2{
  text-align: center;
  color: yellow;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
}

.yellow > .shoes > h2{
  color: green;
}